<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="General" type="System.Configuration.NameValueSectionHandler" />
		<section name="Master" type="System.Configuration.NameValueSectionHandler" />
		<section name="Slave1" type="System.Configuration.NameValueSectionHandler" />
		<section name="Slave2" type="System.Configuration.NameValueSectionHandler" />
		<section name="Slave3" type="System.Configuration.NameValueSectionHandler" />
		<section name="Slave4" type="System.Configuration.NameValueSectionHandler" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<General>
		<!-- The address of the real server to log in to -->
		<add key="LoginURI" value="http://localhost:9000" />
		<!-- Whether to use the '--grid' flag when logging in -->
		<add key="UseGrid" value="false" />
		<!-- The address where the master server is running -->
		<add key="MasterAddress" value="localhost" />
		<!-- The port on which the master server is listening -->
		<add key="MasterPort" value="8090" />
		<!-- The executable to launch when running the client -->
		<add key="ClientExe" value="C:\Program Files (x86)\Firestorm-Release\Firestorm-Release.exe" />
		<!-- Whether to launch a master server -->
		<add key="Master" value="true" />
		<!-- Whether to launch a single slave from this proxy. If enabled SlaveCount will be disabled -->
		<!-- <add key="Slave" value="true" /> -->
		<!-- The name of the single slave to launch from this proxy. If enabled SlaveCount will be disabled -->
		<!-- <add key="Name" value="Slave1" /> -->
		<!-- How many slaves to launch -->
		<add key="SlaveCount" value="2" />
		<!-- The name index of the first slave to create. All other names will be incremented from here. The first slave will be caleld 'Slave<value>' -->
		<add key="FirstSlave" value="1" />
	</General>

	<Master>
		<!-- Whether to auto start the master server when the application starts -->
		<add key="AutoStartMaster" value="true" />
		<!-- Automatically start a proxy running when the application starts so a client can be connected -->
		<add key="AutoStartProxy" value="false" />
		<!-- Automatically launch a viewer to connect to as the master when the application starts -->
		<add key="AutoStartClient" value="false" />
		<!-- Whether to launch a GUI for this master -->
		<add key="GUI" value="true" />
		<!-- The port that the proxy for the master should run on -->
		<add key="ProxyPort" value="8080" />
		<!-- The name of the grid that connects to this proxy -->
		<add key="ProxyGrid" value="8080" />
		<!-- The first name of the master username to log in as -->
		<add key="FirstName" value="Master" />
		<!-- The last name of the master username to log in as -->
		<add key="LastName" value="Client" />
		<!-- The password for the master -->
		<add key="Password" value="clientPassword" />
	</Master>

	<Slave1>
		<!-- Automatically connect the slave to the master when the application starts -->
		<add key="AutoConnectSlave" value="true" />
		<!-- Automatically start a proxy running when the application starts so a client can be connected -->
		<add key="AutoStartProxy" value="false" />
		<!-- Automatically launch a viewer to connect to as a slave when the application starts -->
		<add key="AutoStartClient" value="false" />
		<!-- Whether to launch a GUI for this slave -->
		<add key="GUI" value="true" />
		<!-- The port that the proxy for this slave should run on -->
		<add key="ProxyPort" value="8081" />
		<!-- The name of the grid that connects to this proxy -->
		<add key="ProxyGrid" value="8081" />
		<!-- The first name of the slave to log in as -->
		<add key="FirstName" value="Slave1" />
		<!-- The last name of the slave to log in as -->
		<add key="LastName" value="Client" />
		<!-- The password of the slave to log in as -->
		<add key="Password" value="clientPassword" />
	</Slave1>

	<Slave2>
		<add key="AutoConnectSlave" value="true" />
		<add key="AutoStartProxy" value="false" />
		<add key="AutoStartClient" value="false" />
		<add key="GUI" value="true" />
		<add key="ProxyPort" value="8082" />
		<add key="FirstName" value="Slave2" />
		<add key="LastName" value="Client" />
		<add key="Password" value="clientPassword" />
		<add key="ProxyGrid" value="8082" />
	</Slave2>

	<Slave3>
		<add key="AutoConnectSlave" value="true" />
		<add key="AutoStartProxy" value="false" />
		<add key="AutoStartClient" value="false" />
		<add key="GUI" value="true" />
		<add key="ProxyPort" value="8083" />
		<add key="FirstName" value="Slave3" />
		<add key="LastName" value="Client" />
		<add key="Password" value="clientPassword" />
		<add key="ProxyGrid" value="8083" />
	</Slave3>

	<Slave4>
		<add key="AutoConnectSlave" value="true" />
		<add key="AutoStartProxy" value="false" />
		<add key="AutoStartClient" value="false" />
		<add key="GUI" value="true" />
		<add key="ProxyPort" value="8084" />
		<add key="FirstName" value="Slave4" />
		<add key="LastName" value="Client" />
		<add key="Password" value="clientPassword" />
		<add key="ProxyGrid" value="8084" />
	</Slave4>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
				<AcceptOnMatch value="TRUE" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
		</appender>

		<appender name="ProxyTestGUILog" type="log4net.Appender.RollingFileAppender">
			<file value="ProxyTestGUILog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<appender name="FireEventAppender" type="WinGridProxy.FireEventAppender, WinGridProxy">
			<!--    	<filter type="log4net.Filter.LoggerMatchFilter">
	<LoggerToMatch value="OpenMetaverse" />
	<AcceptOnMatch value="true" />
</filter>-->
      <filter type="log4net.Filter.LevelRangeFilter">
	      <levelMin value="INFO" />
	      <levelMax value="FATAL" />
	      <AcceptOnMatch value="TRUE" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <root>
	    <level value="ALL" />
	    <!-- <appender-ref ref="LogFileAppender" /> -->
	    <appender-ref ref="ConsoleAppender" />
	    <appender-ref ref="FireEventAppender" />
    </root>

    <!--
    *   ALL (Low)
    * DEBUG
    * INFO
    * WARN
    * ERROR
    * FATAL
    * OFF (High)
-->
  </log4net>
</configuration>
