<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="http://138.251.194.156:8080/ChimeraMonitor/Update"/>
    <add key="id" value="Hirta"/>
    <add key="opensim_directory" value="C:\Users\OpenVirtualWorlds\Documents\John\opensim-0.7.6.1\bin\" />
    <add key="chimera_directory" value="C:\Users\OpenVirtualWorlds\Documents\John\Chimera\Bin\" />
    <add key="chimera_exec" value="Chimera.exe" />
    <add key="clients" value="default" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
