<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="server" value="http://138.251.194.156:8080/ChimeraMonitor/Update"/>
		<add key="id" value="Timespan"/>
		<add key="opensim_directory" value="C:\Users\openvritualwolds\Desktop\Opensim-Timespan" />
		<add key="chimera_directory" value="C:\Users\openvritualwolds\Documents\John\Chimera\Bin\" />
		<add key="apollo_chimera_directory" value="C:\Users\openvritualwolds\Documents\John\ChimeraMerged\Bin\" />
		<add key="brora_chimera_directory" value="C:\Users\openvritualwolds\Documents\John\ChimeraMerged\Bin\" />
		<add key="chimera_exec" value="Timespan.exe" />
		<add key="timespan_chimera_exec" value="Timespan.exe" />
		<add key="apollo_chimera_exec" value="Apollo.exe" />
		<add key="brora_chimera_exec" value="Brora.exe" />
		<add key="mosfell_chimera_exec" value="Mosfell.exe" />
		<add key="clients" value="default" />
		<add key="client_name" value ="Firestorm-bin" />
		<add key="installations" value="timespan,brora,mosfell,apollo"/>
		<add key="default_installation" value="timspan"/>
	</appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
