<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="http://apollo.cs.st-andrews.ac.uk:8080/ChimeraMonitor/Update"/>
    <add key="id" value="Eyemouth"/>
    <add key="opensim_directory" value="C:\Users\openvirtualworlds\VirtualWorld\opensim-0.7.6\bin\" />
    <add key="chimera_directory" value="C:\Users\openvirtualworlds\VirtualWorld\ChimeraBin\" />
    <add key="chimera_exec" value="Eyemouth.exe" />
    <add key="clients" value="Master" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
